.demo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
    margin: auto;
}

.sub_demo{
    width: 500px;
    height: 400px;
    background-color: bisque;
    border-radius: 10px;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.input{
    width: 200px;
    padding: 10px;
    font-size: 12px;
    margin: 10px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 20px;
    padding: auto;
    margin: 10px;
}